<!DOCTYPE html>

<html lang="en-us" ng-app="myApp">

    <head>
        <title>Genexa Landing Page</title>
        <!-- <link rel="icon" href="favicon.ico" type="image/gif" sizes="128x128"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- <meta name="description" content="Preston Cinema Systems has been providing innovative camera and lens control systems for over 30 years.">
        <meta name="keywords" content="Preston Cinema Systems; Preston Cinema; FI+Z; Micro Force; Focus Controls;  Lens Controls; Camera Controls; Light Ranger; Zoom Control; Camera Speed Controls"> -->
	      <meta name="rating" content="general" />
        <meta name="author" content="Roque" />

        <!-- ui bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- load angular via CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular-touch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular-sanitize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"></script>
        <!-- bootstrap scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

        <!-- polyfill for internet explorer issues -->
        <script src="https://cdn.rawgit.com/inexorabletash/polyfill/v0.1.34/polyfill.min.js"></script>
        <!-- firebase and angularfire -->
        <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>

        <script src="app.js"></script>
        <link href="css/style.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

        <!-- no javascript notification -->
        <noscript>For site functionality it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" target="_blank"> instructions how to enable JavaScript in your web browser</a></noscript>

    </head>

    <body  ng-controller="AppCtrl">
      <header id="landingSection">
        <div class="landingContainer container">
          <nav class="navbar" role="navigation">
        		<div class="navbar-header">
        			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button>
        		</div>
        		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
        			<ul class="nav navbar-nav navbar-right nav-custom">
        				<li><a class="active" href="#"> HOME </a></li>
        				<li><a href="#"> PRODUCTS </a></li>
        				<li><a href="#"> OUR STORY </a></li>
        				<li><a href="#"> CONTACT </a></li>
        			</ul>
        		</div>
        	</nav>
        </div>
        <div class="container verticalAlignItems">
          <div class="col-xs-12">
            <div class="subTitle">DELIVERED</div>
          </div>
          <div class="col-xs-12">
            <div class="mainTitle">ON YOUR SCHEDULE</div>
          </div>
          <div class="col-xs-12 shopBtnContainer">
            <button class="shopNow">SHOP NOW</button>
          </div>

        </div>
      </header>

      <section id="helpSection">
        <div class="container">
          <div class="col-sm-6 col-xs-12 tileStyles helpMainTitle">
            <div class="col-xs-12">
              <div class="media">
                THE HEALTHIER MEDICINE
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 tileStyles" ng-repeat="tile in helpTiles">
            <div class="col-xs-12 addShadow">
              <div class="media">
                <div class="media-left media-middle">
                  <img src="{{tile.icon}}" class="media-object" style="width:50px">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading">{{tile.title}}</h4>
                  <p class="mediaDetails">{{tile.details}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="productsSection">
        <div class="container">
          <div class="col-xs-12 text-center productMainTitle">
            FEATURED PRODUCTS
          </div>
          <div class="col-xs-12 text-center productMainSub">
            <div class="col-sm-6 col-sm-offset-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 addShadow productTiles" ng-repeat="product in productTiles">
            <div class="col-xs-12 no-padding">
              <img class="img-responsive" src="{{product.img}}" alt="">
            </div>
            <div class="col-xs-12 no-padding">
              <div class="productTitle col-xs-12">
                {{product.title}}
              </div>
            </div>
            <div class="col-xs-12 no-padding">
              <p class="productCaption col-xs-12">
                {{product.caption}}
              </p>
            </div>
            <div class="col-xs-12 no-padding text-right" style="margin-bottom: 15px;">
              <div class="col-xs-12">
                <button class="productBtn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="getStartedSection">
        <div class="container">
          <div class="col-xs-12 text-center startedTitle">
            LET'S GET STARTED
          </div>
          <div class="col-xs-12 text-center hidden-xs" style="margin-top: 20px;">
            <input class="emailInput" type="text" placeholder="Enter your email address" />
            <input class="productBtn" type="submit" value="SUBMIT"/>
          </div>
          <div class="col-xs-12 text-center visible-xs" style="margin-top: 20px;">
            <div class="col-xs-12">
              <input class="emailInput" type="text" placeholder="Enter your email address" />
            </div>
            <div class="col-xs-12">
              <input class="productBtn" type="submit" value="SUBMIT"/>
            </div>
          </div>
        </div>
      </section>

      <footer>

      </footer>

    </body>
</html>
