html, body {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  height: 100%;
  color: #4D4D4D; }

.no-padding {
  padding: 0px; }

#landingSection {
  height: 900px;
  background-image: url("../assets/img/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
  position: relative; }

.nav-custom a {
  color: #FFFFFF;
  opacity: 0.6;
  padding-bottom: 5px !important;
  font-size: 12px;
  padding-top: 40px !important; }

.nav-custom a.active {
  opacity: 1; }

.nav-custom li {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px; }

.nav-custom li:last-child {
  margin-right: 0; }

.nav-custom li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.nav-custom li:hover:after {
  width: 100%;
  background: #FFFFFF; }

.navbar-toggle {
  background-color: #E6E6E6 !important; }
  .navbar-toggle .icon-bar {
    background-color: #4D4D4D; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent; }

.mainTitle {
  font-size: 60px;
  font-weight: bold;
  text-align: left; }

.subTitle {
  font-size: 42px;
  text-align: left; }

.verticalAlignItems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.shopNow {
  background-color: #7DA940;
  border-radius: 50px;
  padding: 15px 50px;
  border: none;
  font-size: 12px; }

#helpSection {
  margin: 80px 0px; }

.helpMainTitle {
  color: #00186F;
  font-size: 45px;
  font-weight: 500; }

.media, .media-body {
  height: 170px;
  padding-left: 5px;
  padding-right: 5px; }

.media-heading {
  font-weight: 600;
  color: #00186F;
  font-size: 18px; }

.mediaDetails {
  font-size: 12px; }

.tileStyles {
  margin-top: 40px; }

.addShadow {
  -moz-box-shadow: 12px 12px 22px #f4f4f4;
  -webkit-box-shadow: 12px 12px 22px #f4f4f4;
  box-shadow: 12px 12px 22px #f4f4f4; }

#productsSection {
  margin-bottom: 80px; }

.productMainTitle {
  font-size: 30px;
  color: #00186F;
  font-weight: normal; }

.productMainSub {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 50px; }

.productTitle {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #00186F;
  font-weight: 500; }

.productCaption {
  color: #4D4D4D;
  font-size: 12px; }

.productBtn {
  flex: 1 1 auto;
  font-size: 12px;
  padding: 11px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #00186F 0%, #41AECA 100%); }

.productBtn:hover {
  background-position: center; }

#getStartedSection {
  background-color: #F7F7F7;
  padding-bottom: 120px; }
  #getStartedSection .productBtn {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    background-image: linear-gradient(to right, #00186F 0%, #41AECA 50%); }

.startedTitle {
  color: #00186F;
  font-size: 24px;
  margin-top: 90px;
  margin-bottom: 30px; }

.emailInput {
  font-size: 12px;
  color: #4D4D4D;
  border-radius: 20px;
  width: 400px;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  -moz-box-shadow: 0 0 20px #ddd;
  -webkit-box-shadow: 0 0 20px #ddd;
  box-shadow: 0 0 20px #ddd; }

.emailInput:focus {
  border: 1px solid #00186F;
  outline: none; }

::placeholder {
  color: #E6E6E6; }

footer {
  background: linear-gradient(to right, #00186F, #41AECA);
  height: 120px; }

@media (max-width: 768px) {
  #landingSection {
    height: 448px; }
  .navbar-nav {
    text-align: center; }
  .nav-custom a {
    text-align: right;
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 12px;
    padding: 5px 0px !important; }
  .nav-custom li {
    display: inline-block; }
  .nav-custom li:after {
    content: none; }
  .nav-custom li:last-child {
    margin-right: 5px; }
  .media, .media-body {
    height: 100px; }
  .productTiles {
    margin-bottom: 20px; }
  .shopBtnContainer, .mainTitle, .subTitle {
    text-align: center; }
  .mainTitle {
    font-size: 48px; }
  .subTitle {
    font-size: 30px; }
  .helpMainTitle {
    text-align: center;
    font-size: 35px; }
  .emailInput {
    width: 100%; }
  #getStartedSection .productBtn {
    margin: 20px 0px; } }

@media (min-width: 768px) {
  #landingSection {
    height: 554px; }
  .container {
    max-width: 850px; }
  .mainTitle, .subTitle, .shopBtnContainer {
    text-align: left; }
  .helpMainTitle {
    font-size: 40px; } }

@media (min-width: 992px) {
  #landingSection {
    height: 750px; }
  .helpMainTitle {
    font-size: 45px; } }
